/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';




.section{
	margin: 250px 0;
	display: flex;
	align-items: center;
	&:nth-child(even){
		flex-direction: row-reverse;
	}
	&__img{
		overflow: hidden;
		position: relative;
		width: 70%;
		height: 500px;
		img{
			height: 100%;
			object-fit: cover;
			display: flex;
		}
	}
	&__img, &__text{
		padding: 0 30px;
		z-index: 1;
	}
	&__text{
		width: 30%;
	}
	h2{
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 30px;
	}
}

.section__1{
	h2{
		padding-left: 50%;
		white-space: nowrap;
		font-size: 90px;
		line-height: 1.1em;
  }
  .section__text{
    mix-blend-mode: overlay;
  }
	.section__img {
    transform: skew(10deg);
		height: 600px;
			margin-right: 5%;
      width: 50%;
      background-color: #5ca3eb;
		}
}
.section__3{
	h2{
		padding-left: 50%;
		white-space: nowrap;
		font-size: 120px;
		line-height: 1.1em;
	}
	.section__img {
		margin-right: 10%;
		width: 50%;
	}
}
.section__2{
	.section__img{
		height: 650px;
		margin: 0 auto;
		width: auto;
		max-width: 500px;
		img{
		}
	}
	.section__text{
		width: auto;
	}
	h2{

		white-space: nowrap;
		font-size: 90px;
		line-height: 1.1em;
	}
}

.sec-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	z-index: 1;
	background-color: #fff;
}